.Anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: color('gray');
  }

  &.underline {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
