.Button {
  cursor: pointer;

  &--no-style {
    text-align: left;
    font-family: inherit;
    font-size: inherit;
  }

  &--primary {
    height: 3.5rem;
    border-radius: 1.75rem;

    &-round {
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;

      &--icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  &--secondary {
    height: 2rem;
    border-radius: 1.25rem;

    &-round {
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
    }
  }

  &--icon-circle {
    width: 1rem;
    height: 1rem;
    padding: 2px;
    border-radius: 0.5rem;
  }
}
