.Button {
  cursor: pointer;

  &--no-style {
    text-align: left;
    font-family: inherit;
    font-size: inherit;
  }

  &--secondary {
    height: 2rem;
    border-radius: 1.25rem;

    &-round {
      height: 2rem;
      width: 2rem;
    }
  }
}
