.CheckoutView {
  &__inner-column {
    max-width: $inner-column-max-width;
  }

  &__buttons-container {
    bottom: -0.25rem;
    position: fixed;

    @include media('md') {
      position: sticky;
    }
  }
}
