.DashboardHero {
  &__icon-container {
    top: calc(#{$hero-image-height-mobile} - 4rem);

    @include media('md') {
      top: calc(#{$hero-image-height} - 4rem);
    }
  }

  &__icon {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
  }

  &__text-block {
    border-top-left-radius: radius('md');
    border-top-right-radius: radius('md');
  }
}
