.DetailItemRowWithChildren {
  &:not(:last-of-type) {
    border-bottom: 1px solid color('gray-light');
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }

  &__children-wrapper {
    height: 0px;
    overflow: hidden;

    &--opened {
      height: auto;
      overflow: auto;
    }
  }
}
