.EditServiceTypeTime {
  &__times {
    max-height: calc(3rem * 7);
  }

  &__no-times-container {
    border-bottom: 1px solid color('gray-lighter');
  }

  &__row {
    max-height: 3rem;

    &:hover {
      cursor: pointer;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid color('gray-lighter');
    }
  }
}
