.FavoriteItem {
  width: 7rem;

  &__price-container {
    top: 5.5rem;
    left: 4rem;
    z-index: 1;
  }

  &__image-container {
    width: 6.5rem;
    height: 6.5rem;
  }

  &__image {
    height: 6.5rem;
  }
}
