.Flash {
  animation: slide-up 300ms ease-in-out forwards;
  border-width: 2px;
  border-style: solid;

  &--warning {
    border-color: color('warning');
  }

  &--message {
    border-color: color('success');
  }

  &--error {
    border-color: color('error');
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, 1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
