.LinkButton {
  &--primary {
    height: 4.125rem;

    .LinkButton__icon {
      width: 1.625rem;
    }
  }

  &--small {
    height: 1.25rem;

    .LinkButton__icon {
      width: 1rem;
      height: 1rem;
    }
  }

  &--with-top-border {
    border-top: 1px solid color('gray-light');
    height: 1.25rem;

    .LinkButton__icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
