$confirm-buttons-height: 5.625rem;

.LineItemEditor {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__inner {
    max-height: calc(100vh - 2rem);
    padding-bottom: $confirm-buttons-height;

    @include media('md') {
      max-height: 80vh;
    }
  }

  &__header {
    &__image {
      height: 20rem;
    }
  }

  &__description-container {
    &--collapsed {
      .LineItemEditor__description {
        max-height: 6rem;
        overflow: hidden;
      }

      .LineItemEditor__description-container__fade-out {
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0) 40%,
          rgba(255, 255, 255, 1) 85%
        );
      }
    }

    .LineItemEditor__nutrition-facts-row {
      &:not(:last-of-type) {
        border-bottom: 1px solid color('gray-lighter');
      }
    }

    &__fade-out {
      background: transparent;
      transition: background 0.3s ease-in-out;
    }
  }

  .OptionGroupItem {
    &__image-container {
      width: 3.5rem;
      min-width: 3.5rem;
      height: 3.5rem;
    }

    &__image {
      width: 5rem;
    }
  }
}
