.LinkButton {
  &--primary {
    min-height: 4.125rem;

    .LinkButton__icon {
      width: 1.625rem;
    }
  }

  &--small {
    min-height: 1.25rem;

    .LinkButton__icon {
      width: 1rem;
    }
  }

  &--with-top-border {
    border-top: 1px solid color('gray-light');
    min-height: 1.25rem;

    .LinkButton__icon {
      width: 1rem;
    }
  }

  &--bullet {
    min-height: 2rem;

    .LinkButton__icon {
      width: 1rem;
    }
  }

  &--list {
    .LinkButton__icon {
      width: 1rem;
    }
  }
}
