.LoadableCheckbox {
  &__text {
    margin-left: 10px;
  }

  &__loader,
  &__loader:after {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
  }

  &__loader {
    font-size: 2px;
    text-indent: -9999em;
    border-top: 1.1em solid color('gray');
    border-right: 1.1em solid color('gray');
    border-bottom: 1.1em solid color('gray');
    border-left: 1.1em solid color('gray-dark');
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  // custom checkbox
  &__custom-checkbox {
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 1.2rem;
      height: 1.2rem;
      background: white;
    }

    // Box hover
    &:hover + label:before {
      background: white;
    }

    // Box focus
    &:focus + label:before {
      box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
    }

    // Box checked
    &:checked + label:before {
      background: white;
    }

    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: color('success');
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 color('success'), 4px 0 0 color('success'),
        4px -2px 0 color('success'), 4px -4px 0 color('success'),
        4px -6px 0 color('success'), 4px -8px 0 color('success');
      transform: rotate(45deg);
    }
  }
}
