.LocationsView {
  padding-top: $mobile-map-height;

  @include media('md') {
    height: $desktop-map-height;
    padding-top: 0;
  }

  .LocationsMap {
    position: fixed;
    left: 0;
    top: $global-nav-height;
    z-index: 0;

    @include media('md') {
      position: relative;
      top: 0;
    }
  }

  &__search {
    @include media('md') {
      overflow: scroll;
      height: 100%;
      max-width: 26rem;
    }
  }

  &__pull-tab {
    height: 0.3rem;
    width: 7rem;
    border-radius: 0.15rem;
  }
}
