.MenuNavigationLinks {
  @include media('md') {
    top: $menu-navigation-height;
    background-color: transparent;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }

  &__button {
    height: 2rem;
  }
}
