.MenuNavigation {
  height: $menu-navigation-height;
  position: fixed;
  top: $global-nav-height;
  left: 0;
  z-index: 3;

  @include media('md') {
    position: sticky;
    z-index: 2;
  }

  &__icon {
    width: 0.75rem;
  }

  &__allergen-filter-button {
    border-left: 1px solid color('gray-lighter');
    height: 1.5rem;
  }
}
