.Modal {
  position: 'fixed';
  opacity: 0;
  pointerevents: 'none';
  visibility: 'hidden';
}

/*'@composes': [s.transitionOpacity]*/
.visible {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  position: 'fixed';
  opacity: 1;
  pointerevents: 'auto';
  visibility: 'visible';
  // display: 'flex';
  // justifyContent: 'center';
  // alignItems: 'center';
}

/*'@composes': [s.col10; s.relative; s.bgWhite; s.zModal; s.p7];*/
.modalInner {
  maxwidth: 500px;
  maxheight: 500px;
}
/*'@composes': [
s.min100vw;
s.fixed;
s.l0;
s.t0;
s.b0;
s.r0;
s.flex;
s.flexColumn;
s.p0
];
[breakpoints.sm]: {
'@composes': [s.relative];
minWidth: 'auto';
minHeight: 'auto'
}*/
.mobileFullCover {
  minheight: '100%';
}
/*'@composes': [s.absolute; s.col12; s.height100];*/
.overlay {
  backgroundcolor: 'gray';
  opacity: 0.75;
}
