.Modal {
  &__inner {
    animation: slide-up 200ms ease-out forwards;
    transition: ease-in 200ms;
  }

  &__overlay {
    animation: fade-in 200ms ease-out forwards;
  }

  &--inactive {
    .Modal__inner {
      animation: none;
      transform: translateY(-2rem);
      opacity: 0;
    }
  }
}
