.OrderTotals {
  @include media('md') {
    box-shadow: shadow('sm');
    border-bottom-left-radius: radius('sm');
    border-bottom-right-radius: radius('sm');
  }

  &__row {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}
