.OrderSummary {
  &__image {
    height: 1rem;
    width: 1rem;
  }

  &__row {
    &:not(:last-of-type) {
      border-bottom: 1px solid color('gray-lighter');
    }
  }

  &__node {
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}
