.QuantitySpinner {
  min-height: 2.5rem;
  border-radius: 1.5rem;
  transition: transform 320ms ease-in-out;

  &__button {
    height: 2rem;
    width: 2rem;
  }

  &__count {
    height: 1.5rem;
    width: 1.5rem;
  }

  &--initial {
    height: 2rem;
    width: 2rem;
  }
}
