.RadioInput {
  min-height: 1.6rem;
  min-width: 1.6rem;

  &__input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
  }

  &__custom-input {
    transition: $transition;
    border-width: 2px;
    border-style: solid;
  }

  &__custom-input--checked {
    border-color: color('gray-dark') !important;

    &:after {
      display: block;
      content: '';
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: color('gray-dark');
    }
  }
}
