.RadioSelectButton {
  &--list {
    &:not(:last-of-type) {
      border-bottom: 1px solid color('gray-lighter');
    }
  }

  &--standalone {
    border: 2px solid transparent;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }
}
