.SearchableDropdown {
  &__clear-button {
    position: absolute;
    top: 1.25rem;
    right: 1rem;
    z-index: 10;
  }

  &__locate-me-button {
    position: absolute;
    top: 0.25rem;
    z-index: 1;
  }
}
