.SideCurtain {
  top: $global-nav-height;
  pointer-events: none;

  &__drawer {
    transform: translate3d(100%, 0, 0);
    transition: $transition;

    @include media('md') {
      width: $side-curtain-width;
    }
  }

  &__overlay {
    opacity: 0;
    transition: $transition;
  }

  &--enter,
  &--entered {
    pointer-events: all;

    .SideCurtain__drawer {
      transform: translate3d(0, 0, 0);
    }

    .SideCurtain__overlay {
      opacity: 1;
    }
  }

  &--exit,
  &--exited {
    .SideCurtain__drawer {
      transform: translate3d(100%, 0, 0);
    }

    .SideCurtain__overlay {
      opacity: 0;
      pointer-events: none;
    }
  }
}
