.TextField {
  box-shadow: shadow('inset');
  border: 1px solid transparent;
  font-size: 0.875rem;
  transition: 0.1s ease-in-out;

  &:focus {
    border: 1px solid color('gray');
    box-shadow: shadow('sm');
    background-color: color('white');
  }

  &::placeholder {
    color: color('gray');
  }

  &--primary {
    height: 3rem;
  }

  &--secondary {
    height: 2.5rem;
    border: 1px solid color('gray');
  }

  &--searchable-dropdown {
    height: 3.5rem;
  }

  &--disabled {
    background-color: color('gray');
    pointer-events: none;
  }

  &--has-errors {
    border: 1px solid color('error');
    box-shadow: shadow('sm');
    background-color: color('white');
  }

  &__icon {
    height: 1rem;
    width: 1rem;
    top: 50%;
    left: 1rem;
    transform: translateY(-45%);
    pointer-events: none;
  }

  &--errored {
    border: 1px solid color('error');
  }
}
