.TextField {
  border: 0;
  font-size: 0.75rem;

  &--primary {
    height: 2rem;
  }

  &--secondary {
    height: 2.5rem;
    border: 1px solid color('gray');
  }

  &--searchable-dropdown {
    height: 3.5rem;
  }

  &__icon {
    height: 1rem;
    width: 1rem;
  }

  &--errored {
    border: 1px solid #b51212;
  }

  &__error {
    color: color('white');
    background-color: #b51212;
  }
}
