// Basement defaults

$colors: (
  'brand-color-light': #ce0901,
  'brand-color-dark': #68070a,
  'black': #1f2933,
  'white': #fff,
  'gray-lighter': #f5f7fa,
  'gray-light': #cbd2d9,
  'gray': #616e7c,
  'gray-dark': #3e4c59,
  'white-overlay': rgba(255, 255, 255, 0.75),
  'black-overlay': rgba(0, 0, 0, 0.1)
) !default;

$spacing-units: 0rem, 0.25rem, 0.5rem, 1rem, 1.5rem, 2rem, 3rem, 4rem, 6rem,
  8rem !default;

// System variables

$global-nav-height: 3rem !default;
$dashboard-nav-height: 3rem !default;
$hero-image-height: 18rem !default;
$hero-image-height-mobile: 20rem !default;
$side-curtain-width: 24rem !default;
$inner-column-max-width: 32rem !default;
$menu-navigation-height: 3rem !default;
$mobile-map-height: calc(40vh - #{$global-nav-height}) !default;
$desktop-map-height: calc(100vh - #{$global-nav-height}) !default;
$edit-attribute-min-width: 24rem !default;
