// Basement defaults
$colors: (
  'brand-color-light': #ce0901,
  'brand-color-dark': #68070a,
  'black': #22242a,
  'white': #fff,
  'gray-light': #f9f9f9,
  'gray': #cdcdd7,
  'gray-dark': #8d92a3,
  'white-overlay': rgba(255, 255, 255, 0.9),
  'black-overlay': rgba(0, 0, 0, 0.1)
);

$spacing-units: 0rem, 0.25rem, 0.5rem, 1rem, 1.5rem, 2rem, 3rem, 4rem, 6rem,
  8rem;

// System variables
$global-nav-height: 3rem !default;

// Setup
@import '~basement/src/index';
@import 'reset';

// Global Settings & Helpers
@import 'settings/fonts';
@import 'settings/transitions';
@import 'settings/radius';
@import 'settings/shadow';
@import 'settings/utils';

// Base Components
@import 'components/Anchor';
@import 'components/Text';
@import 'components/Icon';
@import 'components/Image';
@import 'components/Card';
@import 'components/Button';
@import 'components/TextField';

// Composed Components
@import 'components/SearchableDropdown';
@import 'components/Nav';
@import 'components/LinkButton';
@import 'components/LocationCard';
@import 'components/LocationInfoCard';
@import 'components/AccountButton';
@import 'components/AccountDetails';
@import 'components/CartButton';
@import 'components/HeroImage';
@import 'components/OrderTotals';
@import 'components/QuantitySpinner';
@import 'components/LineItemRow';
@import 'components/LocationsMap';
@import 'components/GeocoderResultsList';
@import 'components/GeocoderResultsListItem';
@import 'components/OrderSummary';
@import 'components/PastOrderDetails';
@import 'components/PastOrderCard';
@import 'components/LocationsSearch';
