$transition-duration: 0.2s;
$transition-duration-short: 0.125s;
$transition-duration-medium: 0.5s;
$transition-duration-long: 1s;
$transition-easing: cubic-bezier(0.25, 0.2, 0, 1);
$transition: $transition-duration $transition-easing;

.transition {
  transition: $transition;
}
