.container {
  margin-top: $global-nav-height;
  min-height: calc(100vh - #{$global-nav-height});
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-scroll {
  overflow: scroll;
}

.resize-none {
  resize: none;
}

.border-top {
  border-top: 1px solid color('gray-light');
}

.border-bottom {
  border-bottom: 1px solid color('gray-light');
}

.stick-to-nav {
  position: sticky;
  top: $global-nav-height;
  left: 0;
}
