.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-scroll {
  overflow: scroll;
}
