.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.height-auto {
  height: auto;
}

.width-auto {
  width: auto;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.overflow-scroll {
  overflow: scroll;
}

.resize-none {
  resize: none;
}

.border-top {
  border-top: 1px solid color('gray-light');
}
